<div class="row m-2">
    <div class="col-6">
        <div *ngIf="userData">

            <h2>Parent</h2>
            <div>Account <span>{{userData.account.reference}}</span></div>
            <div *ngFor="let total of userData.totals">
                <div *ngIf="total.currency === 'EUR'">has a balance of <span>{{total.balance}}</span></div>

            </div>
        </div>
    </div>
    <div class="col-6">
        <app-child (selectedUser)="changeInfo($event)"></app-child>
    </div>
</div>